// These are the preset configs to transpile for local dev and the dist package
{
  "env": {
    "development": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": [
        ["@babel/env", {}],
        [
          "@babel/preset-react",
          {
            //"pragma": "dom", // default pragma is React.createElement
            //"pragmaFrag": "DomFrag", // default is React.Fragment
            //"throwIfNamespace": true // defaults to true
          }
        ]
      ],
      "ignore": ["**/*.test.js"],
      "plugins": []
    }
  }
}
